{{>admin-header}}

 <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>View Products</h4>
                        <div class="breadcrumb__links">
                            <a href="/admin">Home</a>
                            <span>View Products</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div>
  <section class="container mx-2 my-3">
    <h4>View Products</h4>
    <br>
  </section>
</div>
<section class="mx-2">
  <div class="container-fluid">
    <table id="myTable" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th scope="col">IMAGE</th>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">BRAND</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">PRODUCT PRICE</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">CANCEL REASON</th>
          <th scope="col">RETURN REASON</th>
          <th scope="col">ORDER STATUS</th>
          <th scope="col">ORDER STATUS</th>
        </tr>
      </thead>
      <tbody>
        {{#each order}}
        <tr>
          <td><img style="width: 50px; height:50px" src="/images/siteproducts/{{this.productId.productimage.[0]}}" alt=""></td>
          <td>{{this.productId.productname}}</td>
          <td>{{this.productId.productbrand}}</td>
          <td>{{this.productId.category}}</td>
          <td>₹{{this.productId.productprice}}</td>
          <td style="max-width: 300px; overflow-wrap: break-word;">{{this.quantity}}</td>
          <td>{{this.cancellationReason}}</td>
          <td>{{this.return.[0].reason}}</td>
          
          <td>{{this.orderStatus}}</td>
         <td>
      <form action="/admin/update-status" method="POST">
        <input type="hidden" name="orderId" value="{{this.orderId}}" />
        <input type="hidden" name="productId" value="{{this._id}}" />
        <select name="newStatus">
            <option value="{{this.orderStatus}}">{{this.orderStatus}}</option>
            <option value="shipped">Shipped</option>
            <option value="delivered">Delivered</option>
            <option value="cancelled">Cancelled</option>
            <option value="returned">Returned</option>
            <option value="confirmed">Confirmed</option>
      </select>

        <button type="submit" class="btn btn-outline-success btn-sm">Update Status</button>
      </form>
    </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
  });
</script>
