{{>user-header}}

 <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>My Orders</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                     <a href="/user-profile">User Profile</a>
                            <span>My Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="mx-2">
  <div class="container">
    <table id="myTable" class="table table-striped " style="width:100%">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">ORDER ITEM</th>
           <th scope="col">QUANTITY</th>
          <th scope="col">ORDER ID</th>
           <th scope="col">PAYMENT METHOD</th>
            <th scope="col">DATE</th>
            <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{inc @index}}</td>
          <td>{{this.productname}}</td>
           <td>{{this.quantity}}</td>
           <td> <a href="/order/{{this._id}}">{{this.orderId}}</a></td>
           <td>{{this.paymentMethod}}</td>
           <td>{{this.createdAt}}</td>
           <td>{{this.total}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
  });
</script>

{{>user-footer}}






















