{{>user-header}}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shopping Cart</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <a href="/shop-products">Shop</a>
            <span>Shopping Cart</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Shopping Cart Section Begin -->

<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <input type="hidden" id="productsData" value="{{products}}">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="hidden" value="{{cartId}}" id="cartId"></td>
              </tr>

              {{#each cartProducts}}
              <tr>

                <td class="product__cart__item">

                  <div class="product__cart__item__pic">
                    <img style="width:70px;height:70px" src="/images/siteproducts/{{this.productimage.[0]}}" alt="">
                  </div>

                  <div class="product__cart__item__text">
                    <h6>{{this.productname}}</h6>
                    <h5>₹{{this.actualPrice}}</h5>
                  </div>
                </td>
                <td class="quantity-col">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-sm btn-outline changeButtons quantity-decrease-button"
                      onclick="changeQuantity('{{this.proId}}','{{this.id}}', -1)">-</button>
                    <h6 class="mx-2 mb-0 quantity" id="{{this.id}}">{{this.quantity}}</h6>
                    <button class="btn btn-sm btn-outline changeButtons quantity-increase-button"
                      onclick="changeQuantity('{{this.proId}}','{{this.id}}', 1)">+</button>
                  </div>
                </td>
                <td>
                  <h6 class="mx-2 mb-0 price" id="{{this.id}}_productprice">₹{{this.productprice}}</h6>
                </td>
                <td class="cart__close">
                  <a onclick="return confirmDelete('{{this.id}}')" data-cart="{{this.productname}}">
                    <i class="fa fa-trash-o" style="font-size:22px;color:red"></i>
                  </a>

                </td>

              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn">
              <a href="/shop-products">Continue Shopping</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn update__btn">
              <a href="/checkout">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
    
        <div class="cart__total">
          <h6>Cart total</h6>
          <ul> 
            <li>Total Amount:<span id="totalPrice">₹{{totalPrice}}</span></li>
            
          </ul>
        </div>
     
      </div>

    </div>
  </div>
  </div>
</section>
<!-- Shopping Cart Section End -->


{{>user-footer}}


<script>
  function confirmDelete(id) {
    event.preventDefault();
    console.log(id)
    const cartItem = event.target.getAttribute('data-cart');

    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover the product",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          swal("Poof! The product '" + cartItem + "' has been deleted!", {
            icon: "success",
          }).then(() => {
            window.location.href = "/removecart/" + id;
          });
        } else {
          swal("Your product is safe!");
        }
      });
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{!-- <script>
  const changeQuantity = async (proId,productId, count) => {
    try {
      const productsInput = document.getElementById('productsData');
      const productsData = JSON.parse(productsInput.value);
      console.log(productsData)
      let cartId = document.getElementById('cartId').value;
      console.log(proId, productId, cartId, count);
      count = parseInt(count);

      if (isNaN(count)) {
        console.error('Invalid count value:', count);
        return;
      }

      const response = await $.ajax({
        url: '/changequantity',
        method: 'POST',
        data: { productId, cartId, count }
      });

      if (response.status) {
        // Update the quantity on the page
        console.log(response.quantity, response.productprice,);
        console.log(proId)
        const productToFind = productsData.find((temp) => temp._id == proId);
       if (productToFind.stock < response.quantity) {
          Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Stock is not available for this product!',
      });
      return;
        } 
        $('#' + productId).text(response.quantity);
        $('#' + productId + '_productprice').text(response.productprice);
        $('#totalPrice').text(response.totalPrice);
      } else {
        $('#' + productId).addClass('disabled');
      }
    } catch (error) {
      console.error(error);
    }
  };

</script> --}}


<script>
  document.addEventListener('DOMContentLoaded', () => {
    updateTotalPrice();
  });

  function updateTotalPrice() {
    const productElements = document.getElementsByClassName('product__cart__item');
    let totalPrice = 0;
    for (let i = 0; i < productElements.length; i++) {
      const priceElement = productElements[i].querySelector('.price');
      const price = parseInt(priceElement.innerText.replace(/₹/g, ''), 10);
      totalPrice += price;
    }
    document.getElementById('totalPrice').innerText = '₹' + totalPrice;
  }
</script>



<script>
  const changeQuantity = async (proId, productId, count) => {
    try {
      const productsInput = document.getElementById('productsData');
      const productsData = JSON.parse(productsInput.value);
      console.log(productsData);
      let cartId = document.getElementById('cartId').value;
      console.log(proId, productId, cartId, count);
      count = parseInt(count);

      if (isNaN(count)) {
        console.error('Invalid count value:', count);
        return;
      }

      const response = await $.ajax({
        url: '/changequantity',
        method: 'POST',
        data: { productId, cartId, count }
      });

      if (response.status) {
        // Update the quantity and product price on the page
        console.log(response.quantity, response.productprice);
        const productToFind = productsData.find((temp) => temp._id == proId);
        if (productToFind.stock < response.quantity) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Stock is not available for this product!',
          });
          return;
        }
        $('#' + productId).text(response.quantity);
        $('#' + productId + '_productprice').text(response.productprice);
        // Update the total price on the page
         const totalPriceElement = document.getElementById('totalPrice');
      totalPriceElement.innerText = '₹' + response.totalPrice;
          updateTotalPrice();
      } else {
        $('#' + productId).addClass('disabled');
      }
    } catch (error) {
      console.error(error);
    }
  };
</script>











{{!-- <script>

document.addEventListener('DOMContentLoaded', () => {
  const finalAmount = document.getElementById('finalAmount');
  const cardDataArray = Array.from(document.getElementsByClassName('cardDataClass'));
  const productDetailsInput = document.getElementById('productDetails');
  const productDetails = JSON.parse(productDetailsInput.value);
  console.log(productDetails);
  
  cardDataArray.forEach(cardData => {
    const quantityInput = cardData.querySelector('.quantityInput');
    const originalPrice = cardData.querySelector('.originalPriceClass');
    const totalPriceEl = cardData.querySelector('.totalPriceClass');
    const messageField = cardData.querySelector('.message');
    
    quantityInput.addEventListener('change', () => {
      let prodId = cardData.querySelector('.prod_id_class').innerText;
      let check = productDetails.find(item => item._id == prodId);
      
      if (check.stock < quantityInput.value) {
        messageField.innerText = "Stock Unavailable";
      } else {
        messageField.innerText = "";
      }
      
      const totalPrice = quantityInput.value * originalPrice.value;
      totalPriceEl.innerText = totalPrice.toString();
      totalPriceEl.dispatchEvent(new CustomEvent('change'));
      updateCart();
    });

    totalPriceEl.addEventListener('change', () => {
      const sum = cardDataArray.reduce((sum, cardData) => {
        return sum + Number(cardData.querySelector('.totalPriceClass').innerText);
      }, 0);
      finalAmount.innerText = sum.toString();
      updateProceedButton();
    });

    totalPriceEl.dispatchEvent(new CustomEvent('change'));

    async function updateCart() {
      const products = cardDataArray.map(cardData => {
        const prod_id = cardData.querySelector('.prod_id_class').innerText;
        const quantity = Number(cardData.querySelector('.quantity_class').value);
        const size = cardData.querySelector('.size_class').innerText;
        return {
          prod_id,
          quantity,
          size,
          finalAmount: Number(finalAmount.innerText),
        };
      });
      
      const updatedCartData = { products };
      
      try {
        const response = await fetch('/cart/checkout', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(updatedCartData),
        });
        
        const resBody = await response.json();
        console.info(resBody);
      } catch (err) {
        console.error(err);
      }
      
      updateProceedButton();
    }
  });

  function updateProceedButton() {
    const messageFields = Array.from(document.getElementsByClassName('message'));
    const proceedBtn = document.getElementById('proceed-btn');
    const hasUnavailableStock = messageFields.some(messageField => messageField.innerText === 'Stock Unavailable');

    if (hasUnavailableStock) {
      proceedBtn.removeAttribute('href');
      proceedBtn.style.pointerEvents = 'none';
    } else {
      proceedBtn.setAttribute('href', '/payment');
      proceedBtn.style.pointerEvents = 'auto';
    }
  }
});

</script> --}}
{{!-- 
<script>
  console.log("HI KUTTA")
  const productsInput = document.getElementById('productsData');
  const productsData = JSON.parse(productsInput.value);
   console.log(productsData);
</script> --}}

