{{>user-header}}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Wishlist</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Wishlist</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<div class="main-wrapper mt-4">
  <!-- Page Conttent -->
  <main class="page-content">

    <div class="wishlist-main-content section-ptb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form action="https://theacornschool.com/wishlist.html#" class="cart-table">
              <div class=" table-content table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="plantmore-product-thumbnail">IMAGES</th>
                      <th class="cart-product-name">PRODUCT NAME</th>
                      <th class="cart-product-name">PRODUCT BRAND</th>
                      <th class="plantmore-product-price">PRODUCT PRICE</th>
                      {{!-- <th class="plantmore-product-stock-status">STOCK STATUS</th> --}}
                      <th class="plantmore-product-add-cart">ADD TO CART</th>
                      <th class="plantmore-product-remove">REMOVE</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each products}}
                    <tr>
                      <td><img style="width:70px;height:70px" src="/images/siteproducts/{{productId.productimage.[0]}}"
                          alt=""></td>
                      <td class="" style="color: rgb(0, 0, 0);"><a href=""
                          class="text-dark">{{productId.productname}}</a></td>
                      <td class=""><a href="" class="text-dark">{{productId.productbrand}}</a></td>
                      <td class="text-dark"><span class="amount">₹{{productId.productprice}}</span></td>
                      {{!-- <td class="plantmore-product-price"><span class="amount"></span></td> --}}
                      <td><a href="#" class="primary-btn add-to-cart-button" data-product-id="{{productId._id}}">add to
                          cart</a></td>
                      <td class="plantmore-product-remove">
                        <a onclick="deleteItem('{{this.productId._id}}')" class="text-dark">Remove</a>
                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


{{>user-footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

<script>
  // Define the deleteItem function in the global scope
  function deleteItem(Id) {
    Swal.fire({
      title: 'Are you sure to remove this Item?',
      text: 'Item will be removed from the wishlist',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Remove!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire('Removed!', 'Item has been Removed.', 'success').then(() => {
          window.location.href = '/removeWishlist?id=' + Id;
        });
      }
    });
  }
</script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


<script>
  $(document).ready(function () {
    function addToCart(productId) {
      $.ajax({
        url: '/addtoCart/' + productId,
        method: 'GET',
        success: function (response) {
          console.log('Success:', response);
          if (response.success === true) {
            $('#totalPrice').text('₹' + response.totalPrice);
            swal('Success', 'Product added to cart!', 'success');
          } else {
            swal('Error', 'Failed to add product to cart', 'error');
          }
        },
        error: function (error) {
          console.error('Error:', error);
          swal('Error', 'Failed to add product to cart', 'error');
        }
      });
    }

    $('.add-to-cart-button').on('click', function (event) {
      event.preventDefault();
      const productId = $(this).data('product-id');
      addToCart(productId);
    });
  });
</script>